* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 20px;
  font-weight: bold;
}

span {
  font-size: 18px;
  font-weight: bold;
} 

body {
  height: 100vh;
  /* background: linear-gradient(rgba(225, 225, 225, 0.5), rgba(220, 225, 220, 0.4)); */
  background: linear-gradient(rgba(20, 5, 229, 0.2), rgba(20, 5, 229, 0.4));
}

main {
  display: flex;
  justify-content: center;
}

.city {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 2rem;
}

.city li {
  margin: 1rem;
  cursor: pointer;
  transition: 0.5s ease;
}

.city .active {
  color: darkgreen;
  background-color: aqua;
}

.city li:hover{
  color: brown;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.bottom_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bottom_item img {
  width: 3rem;
}

.daily {
  margin-right: 2rem;
  /* background-color: antiquewhite; */
  background: linear-gradient(rgba(50, 109, 219, 0.9), rgba(28, 99, 212, 0.6));
  padding: 2rem 1rem;
  /* height: 450px;  */
  border-radius: 5px;
}

.daily .middle p {
  font-size: 20px;
  /* font-weight: bold; */
}

.top {
  margin-bottom: 1rem;
}

.middle {
  margin: 1.4rem 0;
}

.bottom {
  margin-top: 1.4rem;
}

.weekly {
  display: flex;
  /* background-color: aqua; */
  background: linear-gradient(rgba(150, 19, 29, 0.5), rgba(218, 199, 212, 0.3));
  flex-direction: column;
  border-radius: 5px;
}

tr {
  border-bottom: 2px solid #aaa;
  text-align: center;
}

td span {
  display: block;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 0.4rem;
}

td {
  padding: 0.4rem;
}

h2 {
  margin-left: 3rem;
}
